{
  "printWidth": 120,
  "tabWidth": 4,
  "singleQuote": true,
  "proseWrap": "always",
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
