.bullet-point {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1;
  width: 1em;
  height: 1em;
  font-size: 11px;
}

button {
  font-size: 16px !important;
}

.dialog-title {
  font-weight: 800;
  font-size: 20px;
  color: #8f0045;
}
