.bullet-point {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 1;
    width: 1em;
    height: 1em;
    font-size: 11px;
}

button {
    font-size: 16px !important;
}

.dialog-title {
    font-weight: 800;
    font-size: 20px;
    color: #8f0045;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-dialog-content,
mat-dialog-content {
    flex: 1 1 auto;
    height: 100%;
    max-height: 100%;
}
